{% extends "base.html" %} {% block content %}
<h1>Profile page</h1>

{% with messages = get_flashed_messages() %} {% if messages %}
<div>{{ messages[0] }}</div>
{% endif %} {% endwith %}

<!-- <button>
  <a href="{{ url_for('main.update_profile') }}">Update Profile</a>
</button> -->

{% if google_acc != None %}
<h4>
  Avatar: <img src="{{ current_user.picture  }}" alt="" srcset="" width="100" />
</h4>
{% elif not current_user.picture %}
<h4>Avatar: Not Set</h4>
{% else %}
<h4>
  Avatar:
  <img
    src="{{ url_for('static', filename='images/avatar/' + current_user.picture) }}"
    alt=""
    srcset=""
    width="100"
  />
</h4>
{% endif %}

<!-- <h4>
  Avatar: {% if current_user.picture %}
  <img src="{{ current_user.picture  }}" alt="" srcset="" /> {% else %} Avatar
  not set {% endif %}
</h4> -->
<h4>Password: {{ "******" if current_user.password else "Not Set" }}</h4>

<form action="{{ url_for('main.post_update_profile') }}" method="post">
  <div>
    <label for="">First Name</label>
    <input
      type="text"
      name="first_name"
      value="{{ current_user.first_name }}"
    />
  </div>
  <br />
  <div>
    <label for="">Last Name</label>
    <input
      type="text"
      name="last_name"
      value="{{ current_user.last_name if current_user.last_name else '' }}"
    />
  </div>
  <br />
  <div>
    <label for="">Email</label>
    <input type="email" name="email" value="{{ current_user.email }}" />
  </div>
  <br />
  <div>
    <label for="">Gender</label>
    <select name="gender" id="">
      {% if current_user.gender == None %}
      <option disabled selected>Not Set</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      {% else %}
      <option selected value="{{ current_user.gender }}">
        {{ current_user.gender }}
      </option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      {% endif %}
    </select>
  </div>
  <br />
  <div>
    <label for="">Jalan</label>
    <input
      type="text"
      name="jalan"
      value="{{ current_user.jalan if current_user.jalan else ''}}"
    />
  </div>
  <br />
  <div>
    <label for="">Kota/Kabupaten</label>
    <input
      type="text"
      name="kota"
      value="{{ current_user.kota if current_user.kota else ''}}"
    />
  </div>
  <br />
  <div>
    <label for="">Provinsi</label>
    <input
      type="text"
      name="provinsi"
      value="{{ current_user.provinsi if current_user.provinsi else ''}}"
    />
  </div>
  <br />
  <div>
    <label for="">Current Password</label>
    <input
      type="password"
      name="current_password"
      id="current_password"
      value=""
      placeholder="Enter current password"
    />
  </div>
  <br />
  <div>
    <label for="">New Password</label>
    <input
      id="new_password"
      type="password"
      name="new_password"
      value=""
      placeholder="Enter new password"
    />
  </div>
  <br />
  <div>
    <label for="">Confirm Password</label>
    <input
      id="new_password2"
      type="password"
      name="new_password2"
      value=""
      placeholder="Enter new password"
    />
  </div>
  <button type="submit" id="submitProfile">Submit</button>
</form>

<script>
  const new_password = document.getElementById("new_password");
  const new_password2 = document.getElementById("new_password2");
  const current_password = document.getElementById("current_password");
  const submit_profile = document.getElementById("submitProfile");

  const checkPassword = () => {
    if (new_password.value != new_password2.value) {
      new_password.style.outline = "1px solid red";
      new_password2.style.outline = "1px solid red";
      submit_profile.setAttribute("disabled", true);
      console.log("BEDA");
    } else {
      console.log("SAMA");
      new_password.style.outline = "1px solid green";
      new_password2.style.outline = "1px solid green";
      submit_profile.removeAttribute("disabled");
    }
  };

  if ("{{current_user.password}}" == "None") {
    current_password.setAttribute("type", "text");
    current_password.setAttribute("disabled", true);
    current_password.value = "Not Set";
  } else {
    current_password.setAttribute("type", "password");
  }

  new_password2.addEventListener("keyup", function () {
    checkPassword();
  });
  new_password.addEventListener("keyup", function () {
    checkPassword();
  });

  const isPasswordMatch = async () => {
    fetch("/profile/checkpassword", {
      method: "POST",
      cache: "no-cache",
      headers: new Headers({
        "content-type": "application/json",
      }),
      body: JSON.stringify({
        current_password: current_password.value,
        new_password: new_password.value,
      }),
    })
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        if (data.status) {
          current_password.style.outline = "1px solid green";
          submit_profile.removeAttribute("disabled");
        } else {
          current_password.style.outline = "1px solid red";
          submit_profile.setAttribute("disabled", true);
        }
      })
      .catch((err) => {
        console.log("ERROR:", err);
      });
  };

  current_password.addEventListener("keyup", async () => {
    isPasswordMatch();
  });
</script>

<!-- <h1></h1> -->

<!-- {{ url_for('static', filename='images/avatar/2021092209550648.png') }} -->
{% endblock %}
