{% extends "base.html" %} {% block content %}

<div>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div>{{ messages[0] }}</div>
  {% endif %} {% endwith %}
  <form method="POST" action="{{ url_for('auth.reset_token', token=token) }}">
    <div>
      <div>
        <input
          type="password"
          name="password"
          placeholder="Your New Password"
          autofocus=""
        />
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}
